<h1 id="tableLabel">Bike Stations</h1>

<p *ngIf="!bikeStations"><em>Loading...</em></p>

<p-table #dt dataKey="id" [value]="bikeStations" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="10"
         [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="isLoading"
         [globalFilterFields]="['name','address','kaupunki','operaattor']">
  <ng-template pTemplate="caption">
    <div class="flex">
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword" />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name" style="width:20%">Name <p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="address" style="width:20%">Address <p-sortIcon field="address"></p-sortIcon></th>
      <th pSortableColumn="kaupunki" style="width:20%">City <p-sortIcon field="kaupunki"></p-sortIcon></th>
      <th pSortableColumn="operaattor" style="width:20%">Operator <p-sortIcon field="operaattor"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-station>
    <tr>
      <td>{{ station.name }}</td>
      <td>{{ station.address }}</td>
      <td>{{ station.kaupunki }}</td>
      <td>{{ station.operaattor }}</td>
    </tr>
  </ng-template>
</p-table>


